body {
    background-color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif;
}

.box {
    margin: 10px auto;
    padding: 10px;
    border: 4px solid brown;
    background-color: aqua;
}

.box-two {
    width: 50%;
    margin: 2rem;
    padding: 2rem;
    border: 6px solid #e7dc3c;
    background-color: #fffae0;
}