body {
    background-color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif;
}

.box {
    margin: 10px auto;
    padding: 10px;
    border: 4px solid rgb(209, 66, 9);
    background-color: aqua;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    display: inline-block;
}

nav {
    background-color: aquamarine;

}

nav a {
    color: rgb(7, 27, 136);
}

nav li {
    margin-right: 10px;
}

nav ul {
    text-align: left;
}

nav {
    border-right: 1px;
}

nav li:last-child a {
    border-right: 1px none;
}

img {
    width: 100%;
    height: auto;
}

nav a {
    padding-top: 10px;
    padding-bottom: 10px;
}

figurecaption {
    font-style: italic;
    text-transform: capitalize;
    line-height: 10px;
    font-size: large;
    text-shadow: 1px 3px 2px rgb(38, 9, 165);
}

#Pic {
    width: 150px;
    border: 3px solid rgb(4, 74, 139);
    font-style: italic;
    text-decoration: rgb(7, 138, 161);
}

.box-two {
    width: 100%;
    border: solid rgb(33, 2, 61);
    padding: 2rem;
    margin: 1rem auto;
    border: 6px solid rgb(158, 148, 6);
    background-color: #9ae908;
}