header {
    background-image: url("images/pom.jpeg");
    height: 300px;
    background-size: cover;
    background-position: center;
    color: white;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(245, 245, 245);
}

h1 {
    margin: 10px;
}

body {
    margin: 0;
}

header p {
    margin: 10px;
    ;
}

footer {
    background-color: rgb(0, 204, 255);
}