.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
}

aside {
    background: none;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: rgb(0, 130, 139);
    padding: 15px 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

figure {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background-color: rgb(0, 255, 255);
}

.card img {
    width: 100%;
    display: block;
}

figcaption {
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background-color: #222;
    padding: 20px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.footer-links a:hover {
    text-decoration: underline;
}